<!DOCTYPE html>
<html ng-app="task.app">
  <head>
    <meta charset="utf-8" /> 
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/task.css" />
    <script type="text/javascript" src="javascripts/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="javascripts/task.js"></script>
  </head>
  <body>
    <div class="task-page" ng-controller="TaskController as taskCtrl">
    <section class="tab" ng-controller = "TabController as tabCtrl">
    <div class="navbar">
    <span class="nav-title" >Daily tasks: {{tabCtrl.getSelected() || 'all'}}</span>
    <ul class="nav nav-pills">
        <li ng-repeat="tab in tabCtrl.tabs" ng-class="{active: tabCtrl.isSelected($index-1)}">
            <a href ng-click="tabCtrl.selectTab($index-1); taskCtrl.getTasks(tabCtrl.getSelected())">
                {{tab}}
            </a>
        </li>
    </ul>
    </div>
    <div>
        Exemplo de quadro
    </div>

    <div class="addTask">
    <form class="taskForm" name="addTaskForm" novalidate
        ng-submit="addTaskForm.$valid && taskCtrl.addTask(tabCtrl.getSelected())">
        <input class="title" type="text" placeholder="Title..."
            ng-model="taskCtrl.task.title" required></input><br/>
        <textarea class="description" placeholder="Description..."
            ng-model="taskCtrl.task.description"></textarea><br/>
        <input class="btn btn-default" type="submit" value="Add" />
        <div class="taskItem preview {{tabCtrl.getSelected()}}" ng-show="taskCtrl.task.title || taskCtrl.task.description">
            <div class="text">
                <span class="title">{{taskCtrl.task.title}}</span>
                <span class="description">{{taskCtrl.task.description}}</span>
                <span class="status">{{taskCtrl.task.status}}</span>
            </div>
        </div>
    </form>
    </div>

    <div class="taskList">
        <div class="taskItem {{task.status}}" ng-repeat="task in taskCtrl.tasks.tasks">
            <div class="text">
                <span class="title">{{task.title}}</span>
                <span class="description">{{task.description}}</span>
                <span class="status">{{task.status}}</span>
            </div>
            <a class="btn btn-warning" ng-hide="task.status == 'todo'"
                ng-click="taskCtrl.updateTask(task, 'todo', tabCtrl.getSelected())">
                Todo
            </a>
            <a class="btn btn-primary" ng-hide="task.status == 'today'"
                 ng-click="taskCtrl.updateTask(task, 'today', tabCtrl.getSelected())">
                Today
            </a>
            <a class="btn btn-success" ng-hide="task.status == 'done'"
                 ng-click="taskCtrl.updateTask(task, 'done', tabCtrl.getSelected())">
                Done
            </a>
            <a class="btn btn-danger" ng-click="taskCtrl.delTask(task, tabCtrl.getSelected())">
                Delete
            </a>
        </div>
    </div>

    </section>
    </div>
  </body>
</html>
