<!DOCTYPE html>
<html ng-app="task.app">
  <head>
    <meta charset="utf-8" /> 
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="angular-resource.min.js"></script>
    <script type="text/javascript" src="task.js"></script>
  </head>
  <body ng-controller="TaskController as taskCtrl">
  <section class="tab" ng-controller = "TabController as tab">
    <ul class="nav nav-pills">
        <li ng-class="{active: tab.isSelected(3)}">
            <a href ng-click="tab.selectTab(3); taskCtrl.getTasks()">All</a>
        </li>
        <li ng-class="{active: tab.isSelected(0)}">
            <a href ng-click="tab.selectTab(0); taskCtrl.getTasks('todo')">Todo</a>
        </li>
        <li ng-class="{active: tab.isSelected(1)}">
            <a href ng-click="tab.selectTab(1); taskCtrl.getTasks('today')">Today</a>
        </li>
        <li ng-class="{active: tab.isSelected(2)}">
            <a href ng-click="tab.selectTab(2); taskCtrl.getTasks('done')">Done</a>
        </li>
    </ul>

    <form name="addTaskForm" novalidate
        ng-submit="addTaskForm.$valid && taskCtrl.addTask(tab.getSelected())">
        <input type="text" ng-model="taskCtrl.task.title" required></input>
        <textarea ng-model="taskCtrl.task.description"></textarea>
        <input type="submit" value="Submit" />

        <h1>{{taskCtrl.task.title}}</h1>
        <span>{{taskCtrl.task.description}}</span>
    </form>

    <div ng-show="tab.isSelected(0)">
        <h4>Todo</h4>
    </div>
    <div ng-show="tab.isSelected(1)">
        <h4>Today</h4>
    </div>
    <div ng-show="tab.isSelected(2)">
        <h4>Done</h4>
    </div>
    <div ng-show="tab.isSelected(3)">
        <h4>All</h4>
    </div>


    <div>
        <div ng-repeat="task in taskCtrl.tasks.tasks">
            <h1>{{task.title}}</h1>
            <span>{{task.description}}</span>
            <span>{{task.status}}</span>
            <br/>
            <a class="btn btn-warning" ng-click="taskCtrl.updateTask(task, 'todo')">
                Todo
            </a>
            <a class="btn btn-primary" ng-click="taskCtrl.updateTask(task, 'today')">
                Today
            </a>
            <a class="btn btn-success" ng-click="taskCtrl.updateTask(task, 'done')">
                Done
            </a>
            <a class="btn btn-danger" ng-click="taskCtrl.delTask(task, tab.getSelected())">
                Delete
            </a>
        </div>
    </div>

  </section>

  </body>
</html>
