<!DOCTYPE html>
<html ng-app="task.app">
  <head>
    <meta charset="utf-8" /> 
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="angular-resource.min.js"></script>
    <script type="text/javascript" src="task.js"></script>
  </head>
  <body>
    <form name="addTaskForm"
        ng-controller="TaskController as taskCtrl"
        ng-submit="addTaskForm.$valid && taskCtrl.addTask()" novalidate>
        <input type="text" ng-model="taskCtrl.task.title" required></input>
        <textarea ng-model="taskCtrl.task.description"></textarea>
        <input type="submit" value="Submit" />

        <h1>{{taskCtrl.task.title}}</h1>
        <span>{{taskCtrl.task.description}}</span>
    </form>
    <div ng-controller="getTasks as tasks">
        <div ng-repeat="task in tasks.data.tasks">
            <h1>{{task.title}}</h1>
            <span>{{task.description}}</span>
            <span>{{task}}</span>
        </div>
    </div>
  </body>
</html>
